/* general */

.container {
  width: 960px;
  margin: 0 auto;
}

html,
body {
  font-family: "Helvetica", sans-sans-serif;
  font-size: 18px;
  color: #ffffff;
  line-height: 1.4;
}

a {
  color: #ffffff;
  text-decoration: none;
}

/* header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
  padding: 1rem 2rem;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  margin-right: 1rem;
  height: 1.5rem;
}

nav span {
  margin-right: 2rem;
}

/* main banner */

.main-banner {
  background: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
}

.moto {
  position: relative;
  top: 10rem;
  padding: 1.5rem 5rem;
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;
  width: 20rem;
}

.moto h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}

/* middle section */

.offers {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 3rem 0;
  padding: 0 6rem;
}

.offer-exams,
.offer-fittings,
.offer-delivery {
  height: 8rem;
  width: 30%;
}

.offer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
}

.offer-icon img {
  max-width: 5rem;
}

.caption {
  text-align: center;
  color: #000000;
}

/* info */

.info {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.details {
  width: 35%;
  padding: 5%;
}

.details h2 {
  display: block;
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  width: 10rem;
  margin-bottom: 1rem;
}

.details p {
  color: #000000;
}

/* footer */

footer {
  display: flex;
  align-items: center;
  background-color: azure;
  padding: 4rem 4rem;
  color: #000000;
  margin-top: 5rem;
}
